<% provide(:title, "Dashboard") %>

<%= render "shared/app_sidebar" %>

<section id="main-dashboard-content">
    <h2 id="welcome-title">Dashboard</h1>
    <section id="grid-summary-container">
        <div class="grid-summary-item income">
            <div class="summary-title">Earnings <span class="month-percentage">Total Earnings ( All Properties )</span> </div>
            <div class="income-data">
                <div class="income-icon">
                    <%= image_tag 'income_icon.png',alt: "income_icon" %>
                </div>
                <div class="income-details">
                    <div class="details-numbers"></div>
                    <div class="details-link"></div>
                </div>
            </div>
        </div>
        <div class="grid-summary-item expenses">
            <div class="summary-title">Expenses <span class="month-percentage">Outgoing money ( All Properties )</span> </div>
            <div class="expense-data">
                <div class="expense-icon">
                    <%= image_tag 'expense_icon.png',alt: "expense_icon" %>
                </div>
                <div class="expense-details">
                    <div class="details-numbers"></div>
                    <div class="details-link"></div>
                </div>
            </div>
        </div>
        <div class="grid-summary-item due-transactions">
            <div class="summary-title">Number of transactions <span class="month-percentage">Total transactions</span></div>
            <div class="due-transactions-data">
                <div class="due-transactions-icon">
                    <%= image_tag 'due_transactions_icon.png',alt: "due_transactions_icon" %>
                </div>
                <div class="due-transactions-details">
                    <div class="details-numbers"> performed </div>
                    
                </div>
            </div>
        </div>
        <div class="grid-summary-item due-transactions">
            <div class="summary-title">Amount Billed <span class="month-percentage">Total transactions</span></div>
            <div class="due-transactions-data">
                <div class="due-transactions-icon">
                    <%= image_tag 'due_transactions_icon.png',alt: "due_transactions_icon" %>
                </div>
                <div class="due-transactions-details">
                    <div class="details-numbers"> performed </div>
                    
                </div>
            </div>
        </div>
        <div class="grid-summary-item due-transactions">
            <div class="summary-title">Pending Total <span class="month-percentage">Total transactions</span></div>
            <div class="due-transactions-data">
                <div class="due-transactions-icon">
                    <%= image_tag 'due_transactions_icon.png',alt: "due_transactions_icon" %>
                </div>
                <div class="due-transactions-details">
                    <div class="details-numbers"> performed </div>
                    
                </div>
            </div>
        </div>
        <div class="grid-summary-item due-transactions">
            <div class="summary-title">Total Invoices <span class="month-percentage">Total transactions</span></div>
            <div class="due-transactions-data">
                <div class="due-transactions-icon">
                    <%= image_tag 'due_transactions_icon.png',alt: "due_transactions_icon" %>
                </div>
                <div class="due-transactions-details">
                    <div class="details-numbers"> performed </div>
                    
                </div>
            </div>
        </div>
    </section>

    <section id="grid-quick-actions-container">
        <div class="grid-quick-actions-item main-actions">
            <div class="quick-create-actions">
                <div class="quick-action-property">
                    <div class="new-property-icon">
                        <%= image_tag "properties_icon.png", alt: "new property" %>
                    </div>
                    <div class="quick-action-link">
                        <%= link_to "Add New Property", "#" %>
                    </div>
                </div>

                <div class="quick-action-staff">
                    <div class="new-staff-icon">
                        <%= image_tag "staff_icon.png", alt: "new staff"%>
                    </div>
                    <div class="quick-action-link">
                        <%= link_to "Add New Employee" , "#" %>
                    </div>
                </div>

                <div class="quick-action-staff">
                    <div class="new-staff-icon">
                        <%= image_tag "service_providers_icon.png", alt: "new service provider"%>
                    </div>
                    <div class="quick-action-link">
                        <%= link_to "Add New Service Provider" , "#" %>
                    </div>
                </div>

            </div>

        </div>
  
        <div class="grid-quick-actions-item vacancies">
            <div class="vacancy-data-container">
                <div class="vacancies-chart">
                    <%= image_tag "chart_placeholder.png", alt: "chart_placeholder"%>
                </div>

                <div class="vacancy-data">

                   
                </div>
            </div>

        </div>
    </section>

    <section id="activities-section">
        <h2 id="activities-title">Latest Activities</h2><span><%= link_to "View all activities", "#", class: "property-action-btn" %></span>
    </section>

    <section id="system-activities">
        <div id="system-activities-container">
            

        </div>

    </section>
</section>