<section id="sidebar">
    <section class="title-container">
       <div class="logo-big-screens"><%= image_tag "buzzminder_logo.png"%></div>
       <div class="logo-small-screens"><%= image_tag "buzzminder_min.png" %></div>
        
    </section>
    <span class="line"></span>
    <section class="user-profile">
        <%= image_tag "tenant_user_final.png", class: "user-avatar-image" %>
        <p class="name">devkinoti@gmail.com</p>
        <p class="role">User<span class="dot"></span></p>
    </section>
    <section class="links-container">
        <div class="links">       
                <div class="icon">
                    <%= image_tag "dashboard_icon.png", alt: "dashboard" %>
                </div>
                <span><%= link_to "Dashboard", dashboard_path %></span>

        </div>
        <div class="links">
            <div class="icon">
                <%= image_tag "properties_icon.png", alt: "properties" %>
            </div>
            <span><%= link_to "All Reminders", events_path %></span>
        </div>
        <div class="links">
            <div class="icon">
                <%= image_tag "logout_icon.png" , alt: "logout"%>
            </div>
            <span><%= link_to "Log out", "#", method: :delete %></span>
        </div>


    </section>
</section>