<div class="system-activity-icon">
  <%= image_tag "reminder.png", alt: "system_activity_icon" %>
</div>
<div class="system-activity">
  <div class="system-activity-details">
    <div class="system-activity-time">
      <p>Created on</p>
      <p><%= reminder.created_at.strftime("%B %d, %Y at %I:%M %p")%></p>
    </div>
    <div class="system-activity-info">
      <div class="system-activity-user-action">           
        <p><%= reminder.title %><span class="reminder-dot" style="background-color:<%= reminder.event_color%>"></span></p>
      </div>
      <div class="system-activity-property-name">
        <p>created_by devise user</p>
      </div>
    </div>
    <div class="system-activity-actions">
      <%= link_to "View", reminder, class: "view-event-btn" %>
    </div>
  </div>
</div>